.user{
  display: grid;
  grid-template-rows: 55px minmax(0, 1fr);
  grid-auto-columns: auto;
  transition-duration: 100ms;
  width: 100%;
  height: 100%;
}

.open{
  grid-template-columns: 225px minmax(0px, 1fr);
}

.collapsed{
  grid-template-columns: 55px minmax(0px, 1fr);

  @media(max-width: 768px){
    grid-template-columns: 0px minmax(0px, 1fr);
  }
}